body {

    overscroll-behavior-y: none;
    margin: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

/* Navbar ALWAYS on top */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    /* adjust navbar height */
    background: black;
    z-index: 9999;
    /* keeps navbar above everything */

}

.navbar {
    background-color: #000 !important;
    /* Black header */
}

/* rainbow gradient */
.rainbow-text {
    font-weight: 800;
    /* Thicker text */
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400%;
    background-clip: text;
    color: transparent !important;
    animation: rainbowShift 10s infinite linear;
}

@keyframes rainbowShift {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.photo-wrapper {
    max-width: 1000;
    /* size of the container */
    margin: 40px auto;
    /* centers it horizontally */
    text-align: center;
    /* centers text and image */
}

.photo-wrapper img {
    width: 100%;
}

.photo-text {
    margin-top: 15px;
    padding: 15px;
    background: #ffffff;
    font-size: 1.1rem;
}

footer {
    background: #000;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-info {
    margin-top: 20px;
    font-size: 1.5rem;
    color: white;
}

.img-left {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -9999;




}

.img-right {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -9999;
}

.footer {
    background: #000;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-info {
    margin-top: 20px;
    font-size: 1.5rem;
    color: white;
}



.body {
    scroll-behavior: smooth;
    /* smooth scrolling */
}

section {
    height: 300px;
    padding: 20px;
}

.photo-wrapper {
    max-width: 1000;
    /* size of the container */
    margin: 40px auto;
    /* centers it horizontally */
    text-align: center;
    /* centers text and image */
}

.photo-wrapper img {
    width: 100%;
}

.photo-text {
    margin-top: 15px;
    padding: 15px;
    background: #ffffff;
    font-size: 1.1rem;
}

html {
    scroll-behavior: smooth;
    /* smooth scrolling */
}

section {
    height: 300px;
    padding: 20px;
}